[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopandas = "*"
rasterio = "*"
lxml = "*"
owslib = "*"
fiona = "*"
pyproj = "*"
rasterstats = "*"

[dev-packages]
notebook = "*"

[requires]
python_version = "3.9"
